* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-pink: hsl(322, 100%, 66%);

  --neutral-paleCyan: hsl(193, 100%, 96%);
  --neutral-darkCyan: hsl(192, 100%, 9%);
  --neutral-blue: hsl(208, 11%, 55%);
}

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* in-width: 90vw; */
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  /* height: 99vh;
  width: 100%; */
}

main {
  background-color: var(--neutral-paleCyan);
  background-image: url(./images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  gap: 100px;
  /* width: 100%; */
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
}

header > img {
  max-width: 30%;
}

header > button {
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 20px 40px;
}

.hero-text {
  width: 90%;
  text-align: center;
}

.hero-img {
  width: 80%;
}

.img-section {
  width: 80%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
