* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-pink: hsl(322, 100%, 66%);

  --neutral-paleCyan: hsl(193, 100%, 96%);
  --neutral-darkCyan: hsl(192, 100%, 9%);
  --neutral-blue: hsl(208, 11%, 55%);
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* in-width: 90vw; */
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: var(--neutral-darkCyan);
}

p {
  font-family: "Open Sans", sans-serif;
  color: var(--neutral-blue);
  font-size: 18px;
}

.container {
  margin: 0 auto;
  /* height: 99vh;
  width: 100%; */
}

main {
  background-color: var(--neutral-paleCyan);
  background-image: url(./images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  gap: 70px;
  /* width: 100%; */
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  align-items: center;
}

header > img {
  /* max-width: 100px; */
  max-height: 20px;
  width: auto;
}

header > button {
  font-family: "Open Sans", sans-serif;
  color: var(--neutral-darkCyan);
  font-weight: bold;
  background-color: white;
  padding: 5px 25px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 5px hsla(192, 100%, 9%, 0.205);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 50px 30px;
  gap: 70px;
}

.hero-text {
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  align-items: center;
}

.hero-text > p {
  color: var(--neutral-darkCyan);
  line-height: 30px;
}

.btn-start {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--primary-pink);
  padding: 15px 70px;
  width: fit-content;
  border-radius: 25px;
  border: none;
  box-shadow: 0 5px 5px hsla(322, 100%, 66%, 0.301);
}

.hero-img {
  width: 100%;
}

.img-section {
  width: 80%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
